@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Haqqinda melumat cedveli</h2>
<table class="table table-bordered" >
    <tr>
        <th>Id</th>
        <th>Haqqinda Basligi</th>
        <th>Aktiv et</th>
        <th>Passiv et</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>Basliq</td>
            <td><a href="#" class="btn btn-warning">Aktiv et</a></td>
            <td><a href="#" class="btn btn-danger">Passiv et</a></td>
        </tr>
    }

</table>


@Html.Action("AboutPartial","About")