
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Proje Kampi</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Adi</th>
        <th>Aciqlama</th>
        <th>Status</th>
        <th>Guncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tehsil</td>
        <td>Aciqlama etdik</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Idman</td>
        <td>Aciqlama etdik</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitab</td>
        <td>Aciqlama edilir</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Serial</td>
        <td>Aciqlama etdik</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Film</td>
        <td>Aciqlama prosesi gedir</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>

</table>
<button class="btn btn-primary">Yeni Kateqori</button>
<button class="btn btn-warning">Kateqori Listesi</button>
<button class="btn btn-danger">Kateqori Aciqlamalari</button>